APP_NAME=Aplikasi Pembelajaran ASD API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5432/asd_learning_db
