APP_NAME=
APP_ENV=
APP_HOST=
APP_PORT=
APP_SECRET_KEY=
SECRET_KEY=
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql+psycopg://postgres:Farah%232004@localhost:5432/asd_learning_db"
DATABASE_SCHEMA=public
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
